<% if can? :manage, Classroom %>
  <div class="page-header">
    <h1>Classrooms</h1>
    <%= link_to 'New Classroom', new_classroom_path, class: "btn btn-primary" %>
  </div>
  <% else %>
  <p>You need to be an administrator to access this part of the site.</p>
<% end %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Capacity</th>
    <th></th>
    <th></th>
  </tr>

<% @classrooms.each do |classroom| %>
  <tr>
    <td><h3><%= link_to classroom.name, classroom %></h3></td>
    <td><%= classroom.location %></td>
    <td><%= classroom.capacity %></td>
    <td><%= link_to 'Edit', edit_classroom_path(classroom) %></td>
    <td><%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
