<p id="notice"><%= notice %></p>

<% if can? :manage, Classroom %>

  <h3><%= @classroom.name %></h3>

  <p>Location: <%= @classroom.location %></p>
  <p>Capacity <%= @classroom.capacity %></p>

  <%= link_to 'Edit', edit_classroom_path(@classroom) %> |
  <%= link_to 'Back', classrooms_path %>
<% end %>
