<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <h3>First name</h3>
    <%= f.text_field :first_name %>
  </div>

  <div class="form-group">
    <h3>Last name</h3>
    <%= f.text_field :last_name %>
  </div>

  <div class="form-group">
    <h3>Email</h3>
    <%= f.text_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="form-group">
    <h3>Roles</h3>
    <% Role.all.each do |role| %>
      <%= check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id) %>
      <%= role.name %><br />
    <% end %>
  </div>

  <br>
  <%= f.submit "Submit", class: "btn btn-primary" %>

<% end %>
