<div class="page-header">
  <h1><%= @role %></h1>
</div>

<p><%= link_to 'New User', new_user_path, class: "btn btn-primary" %></p>

<table class="table">
  <tr>
    <th><h4>First name</h4></th>
    <th><h4>Last name</h4></th>
    <th><h4>Email</h4></th>
    <th><h4>Roles</h4></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.first_name, user %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td>
      <% user.roles.each do |role| %>
      <%= role.name %>
      <% end %>
    </td>
    <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-warning" %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
  </tr>
<% end %>
</table>
