<p id="notice"><%= notice %></p>
<h1><%= @user.to_s %></h1>

<p>
  <b>Role(s):</b>
  <% @user.roles.each do |role| %>
  <%= role.name %>
  <% end %>
</p>

<p><%= @user.twitter %></p>
<p><%= @user.email %></p>

<p>
  <%= @user.profile %>
</p>

<% if can? :manage, User %>
  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
<% end %>
