<%= form_for(@course, html: { role: "form" }) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <h3>Instructors</h3>
    <% @instructors.each do |user| %>
      <%= check_box_tag "course[user_ids][]", user.id, @course.user_ids.include?(user.id) %>
      <%= user.to_s %><br />
    <% end %>
  </div>

  <div class="form-group">
    <h3>Students</h3>
    <% @students.each do |user| %>
      <%= check_box_tag "course[user_ids][]", user.id, @course.user_ids.include?(user.id) %>
      <%= user.to_s %><br />
    <% end %>
  </div>

  <div class="form-group">
    <h4>In which classroom will the course take place?</h4>
    <%= collection_select(:course, :classroom_id, Classroom.all, :id, :name) %>
  </div>

  <div class="form-group">
    <h4>Start date</h4>
    <%= f.date_select :start_date %>
  </div>

  <div class="form-group">
    <h4>End date</h4>
    <%= f.date_select :end_date %>
  </div>

  <div class="form-group">
    <h4>Which time slot?</h4>
    <%= collection_select(:course, :time_slot_id, TimeSlot.all, :id, :name) %>
  </div>

  <br>
  <%= f.submit "Submit", class: "btn btn-primary" %>

<% end %>
