<div class="page-header">
  <h1>Courses</h1>
</div>

<% if can? :create, Course %>
<p><%= link_to 'New Course', new_course_path, class: "btn btn-primary" %></p>
<% end %>

<% @courses.each do |course| %>
  <h2><%= link_to course.name, course %></h2>
  <p><%= course.description %></p>
  <p><%= course.start_date %></p>
  <p><%= course.end_date %></p>
  <p><%= course.time_slot.name %></p>

  <% if can? [:edit, :destroy], Course %>
    <%= link_to 'Edit', edit_course_path(course), class: "btn btn-success" %>
    <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>
<% end %>
