<p id="notice"><%= notice %></p>

<% if can? :edit, Course %>
  <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary" %>
<% end %>

<div class="page-header">
  <h1><%= @course.name %></h1>
</div>

<% if @course.only_one_day? %>
  <p><%= @course.start_date.strftime("%A %d %B %Y") %></p>
<% else %>
  <p>Starts: <%= @course.start_date.strftime("%A %d %B %Y") %></p>
  <p>Ends: <%= @course.end_date.strftime("%A %d %B %Y") %></p>
<% end %>

<p><%= @course.time_slot.name %></p>

<% if can? :manage, Classroom %>
<p>Classroom : <%= @course.classroom.name %></p>
<% end %>

<p class="lead"><%= @course.description %></p>

<h2>Instructors</h2>

<% @course.users.each do |user| %>
<li><%= user.to_s %></li>
<% end %>
