<% if can? :edit, Course %>
  <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary" %>
<% end %>

<div class="page-header">
  <h1><%= @course.name %></h1>
</div>

<% if @course.only_one_day? %>
  <p><%= @course.start_date.strftime("%a, %e %b %Y") %></p>
<% else %>
  <p><%= @course.start_and_end_dates %></p>
<% end %>
  <p><%= @course.time_slot.name %></p>


<% if can? :manage, Classroom %>
<p>Classroom : <%= @course.classroom.name %></p>
<% end %>

<p class="lead"><%= @course.description %></p>

<h2>Instructors</h2>

<% @instructors.each do |user| %>
<li><%= link_to user.to_s, user %></li>
<% end %>

<h2>Students</h2>

<% @students.each do |user| %>
<li><%= link_to user.to_s, user %></li>
<% end %>
